.stat-content {
    display: inline-block;
    width: 66%;
}
.stat-icon{
    display: inline-block;
}
.oh-payslip {

    margin-top: 1.5%;

}
.oh-payslip .stat-icon {

    width: 30%;
    height: 85px;
    text-align: center;
    padding-top: 15%;
    background: #ff8762;
    color: #fff;

}
.oh-payslip .oh-card {

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;
    box-shadow: 0 10px 40px 0 rgba(62,57,107,0.07), 0 2px 9px 0 rgba(62,57,107,0.06);

}
.stat-widget-one .stat-head {

    font-size: 14px;
    color: #ff8762;
    margin-top: 2.3rem;
    margin-left: 1rem;

}
.stat-count {
  font-size: 20px;
  text-align: center;
  color: #00438b;
  }

.stat-widget-one .stat-count {

    font-size: 17px;
    color: #000;
    margin-left: 1rem;
    padding-left: 26px;

}
.stat-widget-one .stat-icon {
    vertical-align: top;
    margin: auto;
    width: 100%;
    color: #01c490;
}
.stat-widget-one .stat-icon i {

    font-size: 25px;
    font-weight: 900;
    display: inline-block;
    color: #fff;

}
.stat-widget-one {

    background-color: white;
    text-align: inherit !important;

}
.stat-widget-one {
    width: 100%;
}
.oh-payslip .stat-icon {

    width: 30%;
    height: 85px;
    text-align: center;
    padding-top: 15%;

}
.oh-timesheets .stat-icon{
    background: #5ebade !important;
}
.oh-timesheets .stat-widget-one .stat-head {
    color: #5ebade;
}
.oh-indent .stat-icon{
    background: #5edeab !important;
}
.oh-indent .stat-widget-one .stat-head {
    color: #5edeab;
}
.oh_dashboards {
    background-color: #f8faff !important;
    padding: 0px !important;
    padding-top :15px;
}
.stat-widget-one .stat-text {
    font-size: 14px;
    color: #868e96;
    font-weight: bold;
    margin-top: 2.3rem;
    margin-left: 1rem;

}
.oh-timesheets .stat-widget-one .stat-text {
    color: #5ebade;
}
.oh-card {

    padding-top: 0px;
    padding: 0px;
    margin-bottom: 1.5rem;
    border-radius: 0px;
    box-shadow: none;
    background: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    will-change: transform, box-shadow;

}
.oh-card:hover {

    transform: translateY(-2px) translateZ(0) !important;
    box-shadow: 0 10px 10px 0 rgba(62, 57, 107, 0.12), 0 0 0 transparent !important;

}

.stat-head {
    text-align: left !important;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 25px;
    margin-left: 24px;
    width: 100%;
}
.row.main-section {
    margin-right: 0px; !important;
}
.oh-card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}